apiVersion: v1
kind: Config
current-context: "default"
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert|safe }}
    server: https://{{ server | default("127.0.0.1", true) }}:6443
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    user: {{ user }}
  name: default
users:
- user:
    client-certificate-data: {{ cert|safe }}
    client-key-data: {{ cert_key|safe }}
  name: {{ user }}